<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/navigation/javascript">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/navigation/python">Python</a></td>
        <td><a href="{{site.baseurl}}/navigation/c">C</a></td>
        <td><a href="{{site.baseurl}}/navigation/cplus">C++</a></td>
        <td><a href="{{site.baseurl}}/navigation/powershell">PowerShell</a></td>
        <td><a href="{{site.baseurl}}/navigation/linux">Linux</a></td>
    </tr>
</table>